<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About this app</h5>
          <p>This app serves as a fund manager dashboard</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About the developer</h5>
          <p>Petar is an experienced full stack developer<br>
          <a target="_blank" href="https://www.linkedin.com/in/petarzigic">LinkedIn</a><br>
          <a target="_blank" href="https://github.com/pzigic/c">GitHub</a><br>
          
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      MIT Licence
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
